@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');

:root{
    --color-darkblue: #001f3f;
    --color-lightblue: #0074d9;
    --color-gray: #aaaaaa;
    --color-orange: #F86F03;
    --color-green: #23cc40;
    --font-site: 'Exo 2', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-site);
    scroll-behavior: smooth;
    
   
   
}

body{
    width: 100vw;
    background-color: #170550;
    overflow-x: hidden;

    
}

nav{
   
    display: flex;
    width: 1280px;
    height: 100px;
    margin: auto;
   align-items: center;
    font-size: 18px;
    font-weight: 600;
    
    
    
}

nav > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    gap: 120px;
    margin-right: 420px;
    padding: 90px;
    font-size: 18px;

    
}

nav > ul > a {
   
    list-style-type: none;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav > ul > a:hover{
    text-decoration: underline;
    width: 100px;
    height: 50px;
    background-color: var(--color-lightblue);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

nav >  a button{
    border-radius: 20px;
    width: 160px;
    height: 50px;
    color: white;
    background-color: rgb(34, 34, 201);
    border: none;
    margin-left: -400px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    
}
nav >  a button:hover{
    text-decoration: underline;
}


.sec-bg{
    width: 100vw;
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31065A;
    
   
}

.sec-bg > .name{
    display: flex;
    flex-direction: column;
    margin-right: 800px;
    align-items: center;

}

.sec-bg > .name > .section-header{
    font-size: 25px;
    color:#F86F03;
    font-weight: 700;
}

.sec-bg > .name > h1{
    font-size: 32pt;
    
}

.sec-bg> .name > .section-header-p{
    text-align: center;
    margin-top: 15px;
    
  
    
}
    .sec-bg > .name > a button{
    width: 160px;
    height: 45px;
    background-color: #3E14F5;
    border: none;
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: -22px;
    font-size: 16px;
    font-weight: 600;
    
}

.sec-bg > .name > a button:hover{
    cursor: pointer;
    text-decoration: underline;
}



.sec-bg > img{
    
    width: 400px;
    border-radius: 50%;
    
}

.sec-bg > .name > .redes{
    margin-top: 12px;
}

.sec-bg > .name > .redes a img{
    
   
    margin-right: 15px;
   
    
}

.aboutme{
    color: white;
    width: 100%;
    height: 700px;
    
   
}

.aboutme > .aboutme-header{
    text-align: center;
    color: white;
    margin-top: 55px;
    
}

.aboutme > .aboutme-header > .hr{
    width: 225px;
    margin: auto;
    margin-top: 10px;
}

.aboutme > .aboutme-header > h1{
    font-size: 40px;
    font-weight: 600;
}

.aboutme > .aboutme-header > h1 span{
    color: #F86F03;
    
}

.aboutme > .aboutme-container{
    display: flex;
    height: 100%;
    text-align: justify;
    margin-top: 105px;
    justify-content: center;
  
}

.aboutme > .aboutme-container > img{
    width: 360px;
    height: 410px;
    margin-right: 123px;
    border-radius: 8px;
}

.aboutme > .aboutme-container > .aboutme-right{
    width: 650px;
    font-weight: 600;

}

.aboutme > .aboutme-container > .aboutme-right > h1{
    font-size: 35px;
    font-weight: 600;
    margin-top: 42px;
    margin-bottom: 40px;
}

.aboutme > .aboutme-container > .aboutme-right > .p-right{
    margin-bottom: 40px;
}


.aboutme > .aboutme-container > .aboutme-right > a button{
    width: 160px;
    height: 50px;
    border-radius: 20px;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 600;
    color: #31065A;
    text-decoration: none;
    border: none;
}

.aboutme > .aboutme-container > .aboutme-right > a button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.aboutme > .aboutme-container > .aboutme-right > .skills{
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}
.aboutme > .aboutme-container > .aboutme-right > .skills > img{
    margin-top: 20px;
    width: 68px;
    height: 64px;
}

.aboutme > .aboutme-container > .aboutme-right > .skills > img#htmlfoto{
   width: 64px;
   height: 64px;
}
.portifolio{
    width:100vw;
    height: 800px;
    background-color: #31065A;
   
   
}

.portifolio > .portifolio-header > h1{
    
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 42px;
    margin-bottom: 40px;
}


.portifolio > .repositorios{
  
    text-align: center;
    
    
   
    

}

.portifolio > .repositorios img{
    width: 350px;
    height: 250px;
    margin: 20px;
    background-size: cover;
    filter: blur(0.7px);
}

.portifolio > .repositorios img:hover{
    opacity: 90%;
    transform: scale(1.1);
    filter: blur(0px);
    transition-duration: 0.5s;
}
.carreira{
   color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.carreira-header {
    font-size: 18pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
  
}

.carreira-container{
    display: flex;
 
    width: 60%;
    margin: auto;
    text-align: center;

    
    
    
}

.carreira-esquerda{
    margin-right: 322px;
    margin-left: 152px;
}

.carreira-esquerda > .quadrados{
    border: 1px solid #aaaaaa;
    padding: 8px;
    border-radius: 8px;
}



.carreira-container > .carreira-esquerda .quadrados > h1{
    margin-bottom: 5px;
   
}

.carreira-direita{
   width: 500px;

}

.carreira-direita > .quadrados > h3{
    margin-bottom: 8px;
}

 .carreira-direita > .quadrados{
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 25px;

}

.carreira-direita > .quadrados a{
    color: #F86F03;
    text-decoration: none;
}

.carreira-direita > .quadrados a:hover{
    text-decoration: underline;
}


footer{
    background-color: #31065A;
}

footer > p{
    
    color: white;
    text-align: center;
    padding: 8px;
}




